menu "MenU8G2 Config"

config MENU8G2_LEFT_IS_BACK
    bool
    prompt "Override LEFT_PIN or BACK_PIN with whichever is not -1"
    default false
    help
        help text here

config MENU8G2_RIGHT_IS_ENTER
    bool
    prompt "Override RIGHT_PIN or ENTER_PIN with whichever is not -1"
    default false
    help
        help text here

endmenu
